
<div class="form-container flex justify-center">
  <form class="flex flex-col">
    <mat-form-field class="basis-1/4">
      <mat-label>Search for a movie</mat-label>
      <input matInput #movieSearch type="text" (input)="search()" [(ngModel)]="searchTerm"
             [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="basis-1/4">
      <mat-label>Select a Genre</mat-label>
      <mat-select [(value)]="selectedGenre" (selectionChange)="loadMovies()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let genre of movieService.genresMovies()" value="{{genre.title}}">{{ genre.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>


<div class="movie-results">
  <mat-card class="movie-card" *ngFor="let movie of (movies$ | async)">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle>Rating: {{ movie.details.ratingValue }}</mat-card-subtitle>
        <mat-card-subtitle>
          <ul>
            <li *ngFor="let actor of movie.details.mainActors">{{ actor }}</li>
          </ul>
        </mat-card-subtitle>
      </mat-card-title-group>
      <div class="poster-container flex flex-shrink-0 mr-0.5 w-24">
        <img *ngIf="movie.details.posterUrl" src='{{movie.details.posterUrl}}'>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>{{ movie.details.summary }}</p>
    </mat-card-content>
  </mat-card>
</div>

<mat-paginator #moviePaginator (page)="pageChangeEvent($event)"
               [length]="movieService.totalMovieCount()"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 20, 50, 100]"></mat-paginator>
<router-outlet/>
